body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.row {
  display: flex;
}
.column {
  height: 34px;
  width: 34px;
  border: solid;
  border-width: 1px;
  font-size: 8px;
}
.msgBoxContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(90, 90, 90, 0.5);
}
.messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 34%;
  background-color: black;
  color: white;
  font-size: 20px;
  height: 30px;
  width: 300px;
}
.knight {
  text-align: center;
}
